<section class="thirteen columns">
    <h1><a name="Education">Education</a></h1>
    <article>
        <header>
            <h1>BSc. in Computer Science & Engineering</h1>
            <span>BRAC University</span>
            <span><address>Dhaka, Bangladesh</address><time>2017 to 2020</time></span>
        </header>
        <p>
            CGPA: 3.50 || Major (Program Core) CGPA: 3.80 [Till Now]
        </p>
    </article>
    
    <article>
        <header>
            <h1>Higher Secondary Certificate (HSC)</h1>
            <span>Notre Dame College</span>
            <span><address>Dhaka, Bangladesh</address><time>2014 to 2016</time></span>
        </header>
        <p>
            <!--<em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>-->
        </p>
    </article>

     <article>
        <header>
            <h1>Secondary School Certificate (SSC)</h1>
            <span>Ideal School & College</span>
            <span><address>Dhaka, Bangladesh</address><time>2004 to 2014</time></span>
        </header>
        <p>
            <!--<em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>-->
        </p>
    </article>
</section>
