<section class="thirteen columns">
    <h1><a name="Work">Work Experience</a></h1>
    <article>
        <header>
            <h1>Student Tutor // Undergraduate Teaching Assistant</h1>
            <span><address>BRAC University, Dhaka</address><time>July 2020 to Present</time></span>
        </header>
            <p>
                <ul>
                  <li>- MAT215: MATH III  Complex Variables and Laplace Transformations [October 2020 - Present]</li>
                  <li>- MAT120: MATH II Integral Calculus and Differential Equations [July 2020 - September 2020]</li>
                </ul>  
            </p>
    </article>

    <article>
        <header>
            <h1>Volunteer</h1>
            <span><address>International Conference on Energy and Power Engineering
IEEE Power & Energy Society</address><time>14 - 16 March, 2019</time></span>
        </header>
        <p>
            <ul>
              <li>- Managed the IT part of the whole conference</li>
              <li>- Guided international guests and participants throughout the event</li>
            </ul>  
            
        </p>
    </article>

    <article>
        <header>
            <h1>General Member</h1>
            <span><address>BRAC University Computer Club</address><time>2018 to 2019</time></span>
        </header>
        <!--<p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>-->
    </article>
    <article>
        <header>
            <h1>Boy Scout</h1>
            <span><address>Bangladesh Scouts, Ideal School and College</address><time>2010 to 2013</time></span>
        </header>
        <!--<p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>-->
    </article>
    <!--
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
-->
</section>
