<section class="thirteen columns">
    <h1><a name="Research">Research Experience</a></h1>
    <article>
        <header>
            <h1>Undergraduate Thesis</h1>
            <span><!--<address>BRAC University, Dhaka</address>--><time>January 2020 - Ongoing</time></span>
        </header>
            <p>
                <ul>
                  <li><strong>Title:</strong> A Novel Approach of Making Deep Neural Network Anatomically Aware for Biomedical Image Classification and Segmentation.</li>
                  <li><strong>Supervisors:</strong> Professor Dr. Mahbub Majumdar, Sowmitra Das, Shahnewaz Ahmed</li>
                  <li><strong>Members:</strong> Mehadi Hassan, Shemonto Das, Shoaib Ahmed Dipu</li>
                </ul>  
            </p>
    </article>

    
</section>
