<section class="thirteen columns">
    <h1><a name="Tech">Technical Skills</a></h1>
    <article>
            <p>
              <ul>
                  <li><strong>Programming:</strong> JAVA, Python, HTML, SQL, LaTeX</li>
                  <li><strong>Python Libraries:</strong> Keras, TensorFlow, Scikit-learn, Pandas, NumPy</li>
                  <li><strong>Software & Tools:</strong> Google Colab, Anaconda Navigator, MS Office, Adobe Photoshop</li>
                  <li><strong>OS:</strong> Windows, Linux (Ubuntu)</li>
                </ul>  
            </p>
    </article>

    
</section>
